* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-style: normal;
}

img {
    width: 100%
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    height: 100px;
    
    padding: 12px 24px;
    margin-bottom: 12px;
}

.navigation > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation img {
    width: 100px
}

.navigation nav a {
    margin: 12px
}

a {
    text-decoration: none;
    color: #000000;
}

.button-primary {

}

.button-secondary {
    padding: 12px 21px;
    border: 1px solid #000000;
    border-radius: 12px;

    color: #000000
}