.config_wrapper {
    max-width: 924px;
    padding: 32px 12px;
    min-height: 80vh;
}

.config_wrapper .group .account-header {
    display: flex;
    min-height: 40px;
    margin-bottom: 54px;
}

.config_wrapper .group .account-header img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-right: 32px;
}

h2 span.blue {
    font-size: var(--h2_font_size);
    font-family: var(--title_font);
    font-weight: var(--semi_bold_font);
    color: var(--primary-variant-color);
}

h2 span.sep {
    font-size: var(--h2_font_size);
    font-family: var(--title_font);
    font-weight: var(--regular_font);
    color: var(--disabled-color);
}

.config_wrapper .group .account-header .details h2 {
    margin-bottom: 2px
}

.config_wrapper main {
    display: flex;
}

.config_wrapper .config_options {
    width: 32%;
    padding-right: 48px;    
    min-width: 220px
}

.config_wrapper .config_options nav {
    margin-bottom: 20px;
    border-radius: 6px;

    position: sticky;
    top: 20px
}

nav .menu-heading {    
    font-weight: var(--semi_bold_font);
    color: var(--high_emphasis_color);
}

.config_wrapper .config_options ul {
    position: relative;
}

.config_wrapper .config_options ul li {
    position: relative;
    padding: 8px 16px;
    border-bottom: 1px solid var(--border-color);
    display: flex
}

.config_wrapper .config_options ul li:hover {
    background: var(--surface_color_variant);
}

.config_wrapper .config_options ul a {
    text-decoration: none;
    width: 100%;
    height: 100%
}

.config_wrapper .config_options ul li:hover a {
    color: var(--high_emphasis_color)
}

.config_wrapper .config_options ul a.target {
    font-weight: var(--semi_bold_font);
    color: var(--high_emphasis_color)
}

.config_wrapper .config_container {
    width: 100%
}

.config_wrapper .config_container h1 {
    margin-bottom: 8px
}

.config_wrapper .config_container hr {
    border-color: #f1f1f1
}

.form-group .input .label {
    font-weight: var(--semi_bold_font);
    color: var(--high_emphasis_color)
}

.form-group .input input {
    border: 1px solid var(--border-color) !important;
    width: calc(100% - 26px) !important;
    border-radius: 6px;
    margin-top: 6px;
}

.form-group .input span.caption {
    font-size: var(--caption_font_size);
    margin: 4px 0
}

.form-group .input input:focus {
    border-radius: 6px;
    border: 1px solid var(--primary-variant-color) !important;
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
    position: relative;
    z-index: 1000
}

.perfil-section .picture {
    display: flex;
    align-items: center;
    margin: 15px 0
}

.perfil-section .picture img {
    min-width: 74px;
    min-height: 74px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: #e8e8e8
}

.account-header .loading .avatar {
    width: 48px;
    height: 48px;
}

.account-header > * {
    max-height: 48px;
    overflow: hidden
}

.account-header img {
    background: #e8e8e8
}

.perfil-section .loading .avatar {
    width: 74px;
    height: 74px;
}

.perfil-section .picture > * {
    margin-right: 12px;
    margin-bottom: 0 !important;
}

.perfil-section .picture > div {
    max-height: 74px;
    overflow: hidden
}

.config_wrapper .config_container .form {
    margin: 24px 0;
}

.delete-section > p {
    margin-bottom: 8px
}

.danger {
    color: var(--error_color)
}

.primary-button.danger {
    border: 1px solid var(--error_color);
}

.radio-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.radio-buttons > div {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 30%;
    min-width: 200px;
}

.radio-buttons label {
    margin: 0 !important;
    position: relative
}

.radio-buttons .option {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    width: 100% !important;
    overflow:hidden
}

.radio-buttons .option .img {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.radio-buttons .option main {
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    padding: 12px 24px;
}

.radio-buttons .option main .dot {
    margin-right: 8px;
    background-color: var(--background_color);
    border: 1px solid var(--border-color);
    width: 18px !important;
    height: 18px !important;
}

.radio-buttons .option main h3 {
    margin-bottom: 0 !important
}

.radio-buttons .option .dot::before {
    width: 18px !important;
    height: 18px !important;
}

.radio-buttons .option .img.light {
    background-image: url('/Content/Images/preview_light.svg');
}

.radio-buttons .option .img.dark {
    background-image: url('/Content/Images/preview_dark.svg');
}

.radio-buttons .option .img.dark-dimmed {
    background-image: url('/Content/Images/preview_dark_dimmed.svg');
}

.plans-user-section {
    width: 100%;
}

.plans-user-section .card {
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden
}

.plans-user-section .currency {
    font-size: var(--caption_font_size);
}


.plans-user-section .money {
    font-size: var(--h2_font_size);
    color: var(--high_emphasis_color);
}

.plans-user-section .card .title {
    padding: 24px;
    background: var(--surface_color_variant);
    border-bottom: 1px solid var(--border-color);
}

.plans-user-section .card .features {
    padding: 24px;
    margin: 0;
}

.plans-user-section .card > a {
    text-decoration: none;
    text-align: center;
}

.plans-user-section .card .price-section {
    padding: 12px 24px;
    border-top: 1px solid var(--border-color);
}

.plans-section .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plans-section .cards .card {
    margin: 4px;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 255px;
    transition: .2s ease-in-out;
}

.features .dot {
    content: "done";
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: var(--primary-variant-color);
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    margin-right: 8px;
}

.features ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.features ul li:last-child {
    margin: 0
}

.plans-section .cards .card:hover {
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
    border: 1px solid #1F72D1;
}

.plans-section .cards .card.disabled {
    cursor: no-drop;
    color: var(--disabled-color)
}

.plans-section .cards .card.disabled h2,
.plans-section .cards .card.disabled p, 
.plans-section .cards .card.disabled span,
.plans-section .cards .card.disabled li {
    color: var(--disabled-color) !important
}

.plans-section .cards .card.disabled:hover {
    border: 1px solid var(--border-color) !important;
    box-shadow: 0 3px 6px var(--shadow-variant-color) !important;
}

.plans-section .cards .card .price {
    position: relative;
    margin-bottom: 2px;
}

.plans-section .cards .card .price .currency {
    font-size: var(--caption_font_size);
}


.plans-section .cards .card .price .money {
    font-size: var(--h2_font_size);
    color: var(--high_emphasis_color);
}

.plans-section .cards .card > h2 {
    margin-bottom: 6px;
    color: var(--primary-variant-color);
}

.plans-section .cards .card .features {
    padding: 48px 0;
    margin: 0;
}

.plans-section .cards .card > a {
    text-decoration: none;
    text-align: center;
}

.form .input_icon_right input {
    width: calc(100% - 56px) !important;
}

.form-group {
    margin: 15px 0
}

.form input[type=submit] {
    margin-bottom: 15px
}

/* Esconde o input */
input[type='file'] {
    display: none
}

@media only screen and (max-width: 960px) {
    .config_wrapper .config_options {
        padding-right: 12px;
    }
}

@media only screen and (max-width: 765px) {
    .config_wrapper .config_options {
        padding-right: 0;
        width: 100%
    }

    .config_wrapper > main {
        flex-direction: column
    }
}