.form .button_icon_left {
    position: relative;
}

.form .button_icon_left img {
    position: absolute;
    width: 24px;
    top: 50%;
    transform: translate(0, -50%);
    left: 12px;
}
.form .inputs input {
    background: #ffffff;
    border: 1px solid var(--border-color);
    padding: 10px 12px;
    width: calc(100% - 24px);
    border-bottom: none;
    transition: .2s ease-in-out;
}

.login_content .login .form .inputs .input:first-child input {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}

.login_content .login .form .inputs .input:last-child input {
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.login_content .login .form .inputs .input input:focus {
    border-radius: 6px;
    border: 1px solid var(--primary-variant-color) !important;
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
    position: relative;
    z-index: 1000
}

.form .input_icon_right {
    position: relative;
}

.form .input_icon_right input {
    width: calc(100% - 54px);
    padding: 10px 42px 10px 12px;
}

.form .input_icon_right label {
    position: absolute;
    margin: 0 12px;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;    
    z-index: 1001;
}

.form .input_icon_right label span {
    font-size: 21px;    
    color: var(--medium_emphasis_color);
}