.form .button_icon_left {
    position: relative;
}

.form .button_icon_left img {
    position: absolute;
    width: 24px;
    top: 50%;
    transform: translate(0, -50%);
    left: 12px;
}
.form .inputs input {
    background: #ffffff;
    border: 1px solid var(--border-color);
    padding: 10px 12px;
    width: calc(100% - 24px);
    border-bottom: none;
    transition: .2s ease-in-out;
    color: var(--high_emphasis_color)
}

.login_content .login .form .inputs .input:first-child input {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}

.login_content .login .form .inputs .input:last-child input {
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.login_content .login .form .inputs .input input:focus {
    border-radius: 6px;
    border: 1px solid var(--primary-variant-color) !important;
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
    position: relative;
    z-index: 1000
}

.form .input_icon_right {
    position: relative;
}

.form .input_icon_right input {
    width: calc(100% - 54px);
    padding: 10px 42px 10px 12px;
}

.form .input_icon_right label {
    position: absolute;
    margin: 0 12px;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;    
    z-index: 1001;
}

.form .input_icon_right label span {
    font-size: 21px;    
    color: var(--medium_emphasis_color);
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons .option {
    width: calc(100% - 48px);
    cursor: pointer;
    background-color: var(--surface_color);
    border: 1px solid var(--border-color);
    box-shadow: 0 3px 6px var(--shadow-variant-color);
    border-radius: 6px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    transition: .2s ease-in-out;
}

.radio-buttons input[type="radio"]:disabled + .option {
    cursor: no-drop;
    
}

.radio-buttons input[type="radio"]:disabled + .option h3 {
    color: var(--disabled-color)
}

.radio-buttons input[type="radio"]:disabled + .option p {
    color: var(--disabled-color)
}

.radio-buttons .option .description h3 {
    margin-bottom: 8px
}

.radio-buttons .option .description h3 span {
    font-size: var(--caption_font_size);
    margin-left: 6px
}

.radio-buttons .option .dot {
    height: 24px;
    width: 24px;
    background: none;
    border-radius: 50%;
    position: relative;
}

.radio-buttons .option .dot::before {
    position: absolute;
    content: "done";
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: var(--primary-variant-color);
    border-radius: 50%;
    font-size: 18px;
    opacity: 0;
    transform: scale(1);
    color: #fff;
}

.radio-buttons input[type="radio"]:checked ~ .option {
    border: 1px solid var(--primary-variant-color) !important;
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
}

.radio-buttons input[type="radio"]:checked ~ .option .description h3 {
    color: var(--primary-variant-color);
}

.radio-buttons input[type="radio"]:checked ~ .option .dot::before {
    opacity: 1;
}