/* MENU */

header {
    margin-bottom: 0;
}

header.card {
    border: none;
    box-shadow: none;
}

.responsive_menu_navigation {
    margin-bottom: 0;
}

/* HEADER */

.header {
    background: var(--surface_color);
    margin-bottom: 80px;    
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 3px 6px var(--shadow-variant-color);  
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 12px;    
}

.header .description {
    max-width: 35rem;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .description .mouse {
    display: flex;
    align-items: center;
}

.header .description .mouse p {
    margin-bottom: 0;
    margin-left: 4px;
    font-size: 14px;
}

.header .description h1 {
    font-size: 48px;
    margin-bottom: 12px;
    line-height: 1.125em;
}

.header .description p {
    margin-bottom: 32px;
}

.header .description a {
    text-decoration: none;
}

.header .illustration img {
    width: 30rem;
}

.cta {
    position: relative;
    margin: auto;
    padding: 10px 22px 10px 16px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: var(--primary-variant-color);
    width: 42px;
    height: 42px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    color: var(--high_emphasis_color);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--high_emphasis_color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--primary-color);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

@media only screen and (max-width: 960px) {
    .header .description .mouse {
        display: none !important
    }

    .header > div {
        flex-direction: column-reverse;
        padding: 12px 12px
    }

    .header .description {
        min-height: initial;
        text-align: center;
        margin-top: 12px
    }

    .header .illustration svg {
        max-width: 100%
    }
}

@media only screen and (max-width: 600px) {
    .header .description h1 {
        font-size: 32px;
    }
}

/* FEATURES */

.features  {
    padding: 48px 0;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .dot {
    content: "done";
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: var(--primary-variant-color);
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    margin-right: 8px;
}

.features ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.features .feature {
    max-width: 420px;
}

.features .feature h1 {
    font-size: 32px;
    margin-bottom: 21px;
}

.features .feature p {
    margin-bottom: 16px;
}


@media only screen and (max-width: 960px) {
    .container_wrapper.features {
        flex-direction: column-reverse
    }

    .container_wrapper.features .feature {
        text-align: center
    }

    .container_wrapper.features .feature ul li {
        justify-content: center
    }
}

/* PLANS */

.plans > h1 {
    font-size: 32px;
    margin-bottom: 21px;
    text-align: center;
}

.plans {
    margin-bottom: 80px;
}

.plans > p {
    text-align: center;
    margin-bottom: 32px;
}

.plans .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plans .cards .card {
    margin: 12px;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    transition: .2s ease-in-out;
}

.plans .cards .card:hover {
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
    border: 1px solid var(--border-variant-color);
}

.plans .cards .card .price {
    position: relative;
    margin-bottom: 2px;
}

.plans .cards .card .price .currency {
    font-size: var(--caption_font_size);
}


.plans .cards .card .price .money {
    font-size: var(--h2_font_size);
    color: var(--high_emphasis_color);
}

.plans .cards .card > h2 {
    margin-bottom: 6px;
    color: var(--primary-variant-color);
}

.plans .cards .card .features {
    padding: 48px 0;
    margin: 0;
}

.plans .cards .card > a {
    text-decoration: none;
    text-align: center;
}

/* COMMENTS */

.comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.comments > h1 {
    font-size: 32px;
    margin-bottom: 64px;
    text-align: center;
}

.container_wrapper .layout-grid {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 60px;
    row-gap: 60px;
    grid-template-columns: 480px 480px;
}

.quote-card {
    padding: 40px;
    position: relative;
    border-radius: 16px;
}

.quote-card:nth-child(1) {
    background-color: var(--surface_color);
    box-shadow: 0 3px 6px var(--shadow-variant-color);    
}

.quote-card:nth-child(2) {
    background-color: none;
    border: 1px solid var(--high_emphasis_color);
}

.quote-card:nth-child(3) {
    background: #EAF2FB;
    color: #000000;
    box-shadow: 0 3px 6px var(--shadow-variant-color);    
}

.quote-card:nth-child(4) {
    background: #2485F3;
    color: #fff;
    box-shadow: 0 3px 6px var(--shadow-variant-color);    
}

.quote-card:nth-child(3) .comment-author p,
.quote-card:nth-child(3) .card-author p {
    color: #000;
}

.quote-card:nth-child(4) .comment-author p,
.quote-card:nth-child(4) .card-author p {
    color: #fff;
}

.quote-card.offset-left {
    left: -20px;
}
.quote-card.offset-right {
    right: -20px;
}

.quote-card .comment-author p {
    color: var(--high_emphasis_color);
}

.quote-card .card-author {
    margin-top: 12px;
}

.quote-card .card-author p {
    font-weight: bold;
    color: var(--high_emphasis_color);
    letter-spacing: .8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

.quote-card .img-author {
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-card:nth-child(1) .img-author {
    left: auto;
    top: -20%;
    right: -10%;
    bottom: auto;
    background-image: url("/Content/Images/nelson.jpg");
}

.quote-card:nth-child(2) .img-author {
    left: auto;
    top: auto;
    right: -10%;
    bottom: 10%;
    background-image: url("/Content/Images/abraham.jpg");
}

.quote-card:nth-child(3) .img-author {
    left: -15%;
    top: auto;
    right: auto;
    bottom: -10%;
    background-image: url("/Content/Images/walt.jpg");
}

.quote-card:nth-child(4) .img-author {
    left: auto;
    top: auto;
    right: 11%;
    bottom: -18%;
    background-image: url("/Content/Images/oprah.jpg");
}

@media only screen and (max-width: 960px) {
    .container_wrapper .layout-grid {
        position: relative;
        display: flex;
        flex-wrap: wrap
    }

    .quote-card.offset-left {
        left: 0;
    }

    .quote-card.offset-right {
        right: 0;
    }

    .quote-card .img-author {
        left: auto !important;
        top: auto !important;
        right: 11% !important;
        bottom: -18% !important;
    }
}


/* ORBIT */

.orbit {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: var(--surface_color);
    z-index: 1;
}

.orbit > svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    z-index: -1;
}

.orbit > svg path {
    fill: var(--background_color)
}

/* PLAY STORE */

.play_store {
    margin-bottom: 80px;
    padding: 120px 0;
}

.play_store .title {
    margin-bottom: 24px;
}

.play_store .title h1 {
    width: 560px;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    .play_store .title h1 {
        max-width: 100%;
        font-size: var(--h1_font_size);
    }
}

.play_store .input,
.play_store .download {
    margin: 0 auto;
    max-width: 560px;
    padding: 0 12px;
}

.play_store .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.play_store .input > div {
    width: 100%;
    margin-right: 12px;
}

.play_store .input input {
    background: #ffffff;
    border: 1px solid var(--border-color);
    padding: 10px 12px 10px 48px;
    border-radius: 6px;
    width: 100%;
}

.play_store .input a {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer
}

.play_store .download {
    display: flex;
}

.play_store .download img {
    width: 180px;
    margin-right: 12px;
    cursor: pointer
}

.play_store .download .stars {
    display: flex;
}

.play_store .download .stars span {
    cursor: pointer
}

.play_store .download .stars > span {
    font-size: var(--h2_font_size);
}

.play_store .download .stars > span:nth-child(1) {
    color: var(--primary-variant-color);
}
.play_store .download .stars > span:nth-child(2) {
    color: var(--primary-variant-color);
}

.play_store .download .stars > span.target {
    color: var(--primary-variant-color);
}

.iti__flag {background-image: url("/Content/Images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/Content/Images/flags@2x.png");}
}

.press {
    transform: scale(0.9);
    transition: .1s ease;
}

/* FOOTER */

footer {
    z-index: -100;
}

/* PHONE */

.phone {
    margin-top: 140px;
    margin-bottom: 140px;
}

.phone > .card {
    position: relative;
    border-radius: 32px;
    padding: 0 94px;
}

.slider {
    z-index: 100
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.slide_inner {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.phone > .card .slide_inner {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-between;
}

.phone .slide_inner > div {
    margin-right: 15rem
}

.slide_inner.initial,
.slide_inner.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.phone .card img {
    width: 300px;
    margin-top: -80px;
    margin-bottom: -80px;
}

.phone .slider_buttons {
    z-index: 100;
    position: absolute;
    bottom: 40px
}

.phone .slider_arrows {
    display: flex;
}

.phone .slider_arrows > div {
    margin-right: 12px;
}

.phone .slider_arrows > div .card {
    box-shadow: none;
}

.icon {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.icon span {
    color: var(--high_emphasis_color);
}

@media only screen and (max-width: 960px) {
    .phone {
        display: none;
    }

    .phone {
        margin-top: 0;
        margin-bottom: 24px;
    }

    .phone .card {
        padding: 12px 12px;
        background: none;
        border: none;
        box-shadow: none;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
    }

    .phone .card img {
        display: none;
    }

    .phone .card > div {
        margin-left: 0;
    }

    .progress {
        justify-content: center;
    }
}

.phone .card > div h1 {
    margin-bottom: 32px;
}

.phone .card > div p {
    margin-bottom: 24px;
}

.progress > div {
    width: 12px;
    height: 12px;
    background: var(--border-color);
    border-radius: 16px;
    margin-right: 8px;
}

.progress > div.target {
    width: 18px;
    background: var(--primary-variant-color);
    border-radius: 16px;
}

.progress {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}