body {
    overflow: hidden
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1
}

.inputs .routes {
    border-radius: 16px;
    padding: 9px;
    margin-right: 12px;
    z-index: 1;
    cursor: pointer
}

.icon {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    display: none
}

.MicrosoftMap.dirSDK .directionsPanel {
    width: 440px !important;
    margin-left: 20px;
}

.MicrosoftMap .directionsPanel li {
    display: flex !important;
}

.MicrosoftMap a.dirBtnGo {
    background: var(--primary-variant-color) !important;
    border: 1px solid var(--border-variant-color) !important;
    color: #ffffff !important;
    border-radius: 6px !important;
    transition: .2s ease-in-out !important;
    outline: none !important;
    text-decoration: none
}

body .MicrosoftMap.dirSDK .dirWp input {
    max-width: 258px !important;
}

.MicrosoftMap a.dirBtnGo:hover {
    background: var(--primary-color) !important;
}

.MicrosoftMap a.dirBtnGo:focus {
    box-shadow: rgba(59, 145, 243, 45%) 0 0 0 3px !important;
}

.directionsContainer {
    width: 480px;
    background: #ffffff;
    height: calc(100vh - 82px);
    position: absolute;
    overflow-y: auto;
    top: 82px;
    z-index: 1;
}

.buttonClose {
    position: absolute;
    left: 486px;
    top: 88px;
    z-index: 1;
}

.directionsContainer::-webkit-scrollbar {
    background-color:var(--background_color);
    height: 16px;
    transition: .4s ease;
}

.directionsContainer::-webkit-scrollbar-track {
    background-color: var(--background_color);
}

.directionsContainer::-webkit-scrollbar-thumb {
    background-color:var(--border-color);
    border-radius: 12px;
    border: 5px solid var(--background_color);
}

.directionsContainer::-webkit-scrollbar-thumb:hover {
    border-top: 3.2px solid var(--background_color);
    border-bottom: 3.2px solid var(--background_color);
}

.inputs .routes span {
    color: var(--primary-color)
}

.inputs .search {
    margin-bottom: 0 !important
}

.MicrosoftMap .as_container_search {
    width: calc(100% + 80px) !important;
}

.dashboard {
    min-height: 80vh;
    position: relative;
}

.dashboard .search {
    z-index: 1
}

.dashboard .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1
}

.dashboard .buttons .button {
    border-radius: 16px;
    padding: 9px;
    margin-top: 9px;
    cursor: pointer
}

header {
    width: calc(100% - 2px)
}

#myMap {
    overflow: hidden;
    height: calc(100vh - 82px);
    width: 100%;
    position: absolute;
    top: 82px;
    left: 0;
}

.customInfobox {
    max-width: 240px;
    border-radius: 16px;
    padding: 24px;
    border-top-left-radius: 0;
    cursor: initial;
}

.customInfobox h2 {
    margin-bottom: 16px;
}

.customInfobox .description {
    margin-bottom: 12px;
    min-height: 42px;
}

.customInfobox button,
.customInfobox input,
.customInfobox a {
    width: 100%;
    text-decoration: none;
}

audio,
canvas,
video {
    max-width: initial !important;
}

body {
    min-height: initial !important;
    background-color: initial !important;
    
    overflow-x: initial !important;
}