.popup_wrapper {
    min-width: 100%;
    min-height: 100%;
    background-color: #00000024;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed
}

.popup_wrapper.disabled {
    display: none;
}

.popup_wrapper .popup {
    width: 448px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10vh auto;
}

.popup_wrapper .popup .title {
    padding: 24px;
    background: #F7F9FB;
    border-bottom: 1px solid #D9DBDD;
    display: flex;
    justify-content: space-between;
}

.popup_wrapper .popup .title .close_button {
    cursor: pointer
}

.popup_wrapper .popup .body {
    padding: 24px;
}

.popup_wrapper .popup .body p {
    margin-bottom: 12px;
}

.popup_wrapper .popup .body input[type=button] {
    width: 100%
}